# Virtual environment
venv/
bin/
lib/
include/
pyvenv.cfg
.cache

# Python cache
__pycache__/
.mypy_cache/

# Runtime files
current.png
artist_cache.json

# Mac Only
.DS_Store
server.py

# Secrets
config.py